<template>

<!-- Modal -->
<div class="modal fade" id="appointment-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Demande de rendez-vous</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
                <h5>Nom / Prenom</h5>
                <span>{{appointmentSelected.nom}} / {{appointmentSelected.prenom}}</span>
          </div>
          <div class="form-group">
                <h5>Contact</h5>
                <span>{{appointmentSelected.email}} / {{appointmentSelected.telephone}}</span>
          </div>
          <div class="form-group">
                <h5>Sujet</h5>
                <span>{{appointmentSelected.sujet}}</span>
          </div>
          <div class="form-group">
                <h5>Commentaire</h5>
                <p>{{appointmentSelected.commentaire}}</p>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

</template>

<script>
import { mapGetters, mapMutations } from "vuex";

export default {
  name: "modal-view",
  data() {
    return {};
  },
  computed: mapGetters(["appointmentSelected"]),
  methods: {}
};
</script>
