<ion-header>
  <ion-navbar color="danger">
    <ion-title>Bienvenue à Impact Centre Chrétien Rouen</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="home-content " padding>
  <div class="flex-container">
    <ion-buttons start>
      <button ion-button outline color="danger" large round icon-only (click)="takeRdv()">
        <ion-icon name="calendar"></ion-icon>
        <span>Prenez un rendez-vous</span>
      </button>
    </ion-buttons>
  </div>


</ion-content>
