page-home {
  .home-content {
    background: linear-gradient(270deg, #dcddb7, #b6869b, #bcb9ea);
    background-size: 6000% 6000%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;

    @-webkit-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }

  }
  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .button-large-md {
      height: 6.8em;
    }
    .button-md {
      font-weight: 600;
    }
    span {
      padding: 10px;
    }
  }
}
