<ion-header>
  <ion-navbar color="danger">
    <ion-title>Prise de rendez-vous</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <form padding-top (ngSubmit)="onSubmit()" [formGroup]="rdv">
    <ion-item>
      <ion-label floating color="primary">Sexe</ion-label>
      <ion-select interface="action-sheet" cancelText="annuler" formControlName="genre">
        <ion-option value="homme">Homme</ion-option>
        <ion-option value="femme">Femme</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating color="primary">Nom</ion-label>
      <ion-input formControlName="nom" type="text"></ion-input>
    </ion-item>
    <p *ngIf="rdv.get('nom').touched && ( rdv.get('nom').hasError('required')) " color="danger" padding-left>
      Votre nom est obligatoire
    </p>

    <ion-item>
      <ion-label floating color="primary">Prenom</ion-label>
      <ion-input formControlName="prenom" type="text"></ion-input>
    </ion-item>
    <p *ngIf="rdv.get('prenom').touched && ( rdv.get('prenom').hasError('required') ) " color="danger" padding-left>
      Votre prénom est obligatoire
    </p>

    <ion-item>
      <ion-label floating color="primary">Télephone</ion-label>
      <ion-input formControlName="telephone" type="tel"></ion-input>
    </ion-item>
    <p *ngIf="rdv.get('telephone').touched && rdv.get('telephone').hasError('required')" color="danger" padding-left>
      Votre numero de télephone est obligatoire
    </p>

    <ion-item>
        <ion-label floating color="primary">Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <p *ngIf="rdv.get('email').touched && rdv.get('email').hasError('required')" color="danger" padding-left>
        Votre email est obligatoire
      </p>
      <p *ngIf="rdv.get('email').touched && rdv.get('email').hasError('email')" color="danger" padding-left>
          un email valide est obligatoire
        </p>

    <ion-item>
      <ion-label floating color="primary">Sujets</ion-label>
      <ion-select interface="action-sheet" cancelText="Annuler" formControlName="sujet">
        <ion-option value="Un soutien spirituel">Un soutien spirituel</ion-option>
        <ion-option value="Un problème de santé">Un problème de santé</ion-option>
        <ion-option value="Un suivi émotionnel">Un suivi émotionnel</ion-option>
        <ion-option value="Un conseil familial (fiançailles, difficultés conjugales, etc.)">Un conseil familial (fiançailles, difficultés conjugales, etc.)</ion-option>
        <ion-option value="Une présentation d'enfant">Une présentation d'enfant</ion-option>
        <ion-option value="Recevez la visite d'un leader chez vous">Recevez la visite d'un leader chez vous</ion-option>
        <ion-option value="Accompagnement professionel">Accompagnement professionel</ion-option>
        <ion-option value="Etre intégré">Etre intégré</ion-option>
        <ion-option value="Etre écouté">Etre écouté</ion-option>
        <ion-option value="Autres">Autres</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating color="primary">Entrer une préçision</ion-label>
      <ion-textarea formControlName="commentaire" rows="5"></ion-textarea>
    </ion-item>
    <p *ngIf="rdv.get('commentaire').touched && ( rdv.get('commentaire').hasError('required') ) " color="danger" padding-left>
      Votre préçision est obligatoire
    </p>

    <div padding>
      <ion-row padding-top>
        <button ion-button color="primary" large block type="submit" [disabled]="rdv.invalid">Envoyer</button>
      </ion-row>
      <ion-row padding-top>
        <button ion-button color="danger" large block (click)="backToHome()">Annuler</button>
      </ion-row>
    </div>
  </form>

</ion-content>
