<template>
  <div id="app">

    <nav class="navbar navbar-expand-lg navbar-light ext-white" style="background:#303F9F">
      <a class="navbar-brand" href="#" style="color: white">ICC-R RDV</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">

        </ul>
        <span v-if="currentUser" class="navbar-text text-white">
          <img class="align-middle" src="icon-user.png">
          {{currentUser.username}}
          <router-link to="/logout" class="btn btn-logout btn-lg text-danger"><i class="fas fa-sign-out-alt"></i></router-link>
        </span>
      </div>
    </nav>

    <div class="container">
      <!-- Content here -->
      <router-view/>
    </div>
    
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'login',
  computed: {
    ...mapGetters({ currentUser: 'currentUser' })
  }
}
</script>

<style lang="scss">
#app {
}
</style>
