<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="!response.error">Votre demande à été prise en compte</ion-title>
    <ion-title *ngIf="response.error">Erreur lors de l'envoi</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <img *ngIf="!response.error" [src]="'assets/imgs/giphy-sucess.gif'" />
  <img *ngIf="response.error" [src]="'assets/imgs/giphy-failed.gif'" />

  <ion-row padding-top>
    <button ion-button large block icon-start (click)="goToHomePage()">
      <ion-icon name="home"></ion-icon>
      Retour à l'accueil
    </button>
  </ion-row>

</ion-content>
