<template>
  <div class="home mt-5">

    <div class="p-3 mb-2 bg-secondary text-white">Mes RDVs</div>

    <div class="row">

      <div class="col-12 mb-3" v-bind:key="appointment.id" v-for="appointment in appointments">

          <div class="card" @click="showAppointment(appointment)">
            <div class="card-body">
              <h5 class="card-title">{{appointment.prenom}} {{appointment.nom}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{appointment.sujet}}</h6>
              <p class="card-text">{{appointment.commentaire}}</p>
            </div>
          </div>

      </div>

  
    </div>

    <modal-view></modal-view>

  </div>
</template>

<script>
// @ is an alias to /src
import ModalView from "../components/Modal.vue";
import { mapState, mapMutations, mapGetters } from "vuex";

export default {
  name: "home",
  components: {
    ModalView
  },
  data() {
    return {};
  },
  computed: { ...mapGetters(["appointments"]) },
  created() {
    this.$http
      .get("api/", {
        headers: { Authorization: "Bearer " + localStorage.token }
      })
      .then(response => {
        this.gets({
          type: "gets",
          appointments: response.data
        });
      })
      .catch(e => {});
  },
  methods: {
    ...mapMutations(["show", "gets"]),
    showAppointment(data) {
      $("#appointment-modal").modal("show");
      this.show({
        type: "show",
        appointmentSelected: data
      });
    }
  }
};
</script>
